@ -1,24 +0,0 @@
# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log
*.ctxt
*.iml
*.hprof
*.DS_Store
*.swp
*~

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.loadpath

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/
.vscode/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
logs/

# Others
.mtj.tmp/
hs_err_pid*
replay_pid*

activityEnsemblePlatform/target/